<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Local Scripts and Styles -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/app.js" type="text/javascript"></script>

  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">A New Yorker's Guide to the Solar System</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><%= title %></h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white">A thought experiment that looks at how small the Big Apple really is.</h5>
        </div>
        <div class="row center">
          <a href="#start" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://images-assets.nasa.gov/image/PIA00545/PIA00545~orig.jpg" alt="Solar system img 1" style="width:100%"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row" id="start">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">wb_sunny</i></h2>
            <h5 class="center">The Rose Center</h5>
            <p class="light">If you are lucky enough to visit New York City's amazing <a href="http://www.amnh.org/exhibitions/permanent-exhibitions/rose-center-for-earth-and-space/" target="new" >Rose Center for Earth and Space at the American Museum of Natural History</a>, their displays give a great sense of the relative sizes of the planets in our solar system.</p>
            <div class="materialboxed" data-caption="The Rose Center at AMNH in New York City.">
              <img src="http://www.amnh.org/var/ezflow_site/storage/images/media/amnh/images/permanent-exhibitions/rose-center-for-earth-and-space/rose-center-for-earth-and-space/146117-1-eng-US/rose-center-for-earth-and-space_imagelarge.jpg" style="max-width:100%">
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">public</i></h2>
            <div class="materialboxed" data-caption="The planets are to scale, but not the distances between them.">
              <img src="https://newze.net/wp-content/uploads/2017/01/68.media_.tumblr.comtumblr_okgk33YULC1qio57co-b77f917762650c424c56cbb7e3562331cc88f45d.jpg"  style="max-width:100%">
            </div>
            <h5 class="center">But, <i>distance?</i></h5>
            <p class="light">Even with its expansive glass atrium, the Rose Center simply does not have the space required to give New Yorkers a sense of the true distances between the planets in the solar system.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">location_city</i></h2>
            <h5 class="center">Explore the planets on a New York City scale</h5>
            <p class="light">To explore the space separating our neighboring planets, we'll need to step outside onto the streets of Manhattan...</p>
            <div class="materialboxed" data-caption="We'll use the island of Manhattan to depict planetary distances.">
              <img src="http://cdn.archinect.net/images/1200x/b2/b2248r4ig1jaysa2.jpg" style="max-width:100%; max-height:50%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="color:white">Our neigboring planets are *not* this close to one another. <br>But just how far apart are they?</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://images-assets.nasa.gov/image/PIA02973/PIA02973~orig.jpg" alt="Solar system img 2" style="width:100%"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Let's Journey uptown...through the Solar System!</h4>
          <p class="flow-text left-align light">We’ll look at the distances between the planets by comparing distances to something we can relate to better on a human scale: the streets and landmarks of Manhattan in New York City.
          <br>
          <br>
          We’ll start our journey through the solar system by choosing a “sun” as a reference, and comparing our distances from there.  Are you ready?!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <br>
          <br>
          <br>
          <br>
          <h5 class="header col s12 light" style="color:white">Begin your interplanetary journey at the southern tip of Manhattan in Battery Park.</h5>
        </div>
        <br>
        <br>
        <div class="row center">
          <a href="/sun" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">First: THE SUN</a>
        </div>
        <br>
      </div>
    </div>
    <div class="parallax"><img src="https://images-assets.nasa.gov/image/PIA11800/PIA11800~orig.jpg" alt="Solar system img 3" style="width:100%"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">About this project</h5>
          <p class="grey-text text-lighten-4">"A New Yorker's Guide to the Solar System" was conceived as a showcase for web technologies explored under the Web Development Immersive at General Assembly NYC in February 2017. Several of these are linked here.</p>
          <p class="grey-text text-lighten-4">All images from NASA's Jet Propulsion Laboratory and Google fair use searches.</p>

        </div>
        <div class="col l2 s12">
          <h5 class="white-text">JavaScript</h5>
          <ul>
            <li><a class="white-text" href="https://expressjs.com/" target="new" >Express JS</a></li>
            <li><a class="white-text" href="https://www.npmjs.com/package/axios" target="new" >Axios</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">CSS</h5>
          <ul>
            <li><a class="white-text" href="http://materializecss.com/" target="new" >Materialize CSS</a></li>
            <li><a class="white-text" href="http://sass-lang.com/" target="new" >SASS</a></li>
            <li><a class="white-text" href="https://material.io/icons/" target="new" >Material Icons</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">DB</h5>
          <ul>
            <li><a class="white-text" href="https://www.postgresql.org/" target="new" >Postgres</a></li>
            <li><a class="white-text" href="http://docs.sequelizejs.com/en/v3/" target="new" >Sequelize</a></li>
            <li><a class="white-text" href="https://developers.google.com/maps/documentation/embed/guide#street_view_mode" target="new" >GoogleMaps Embed</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p>Developed by <a class="brown-text text-lighten-3" href="https://github.com/franklinbrooks">Franklin Brooks</a>. Created with
          <span class="heart">♥
          </span> at
          <span><a  class="brown-text text-lighten-3" href="http://www.generalassemb.ly">GA</a>
          </span>
        </p>
      </div>
    </div>
  </footer>


            <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://www.materializecss.com/bin/materialize.js"></script>
    <script src="http://www.materializecss.com/js/init.js"></script>
    <script src="https://darkskyapp.github.io/skycons/skycons.js"></script>

  </body>
</html>



