<% include head.ejs %>
  <body>
<% include header.ejs %>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2"><%= title %></h1>
          <div class="row center">
            <h5 class="header col s12 light" style="color:white">The Red Planet</h5>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img src="https://images-assets.nasa.gov/image/PIA11132/PIA11132~orig.jpg" alt="Mars img 1" style="width:100%"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Mars</h4>
            <p class="flow-text left-align light">Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, after Mercury. Named after the Roman god of war, it is often referred to as the "Red Planet" because the iron oxide prevalent on its surface gives it a reddish appearance. Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the Moon and the valleys, deserts, and polar ice caps of Earth.
<br>
<br>
Mars is the site of Olympus Mons, the largest volcano and second-highest known mountain in the Solar System, and of Valles Marineris, one of the largest canyons in the Solar System. Mars has two small and irregularly shaped moons, Phobos and Deimos, which may be captured asteroids.
<br>
<br>
There are ongoing investigations assessing the past habitability potential of Mars, as well as the possibility of extant life. Future astrobiology missions are planned, including the Mars 2020 and ExoMars rovers.  Liquid water cannot exist on the surface of Mars due to low atmospheric pressure, but the two polar ice caps appear to be made largely of water. The volume of water ice in the south polar ice cap, if melted, would be sufficient to cover the entire planetary surface to a depth of 11 meters (36 ft). <br>
            <div>Source: https://en.wikipedia.org/wiki/Mars</div>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="container">
          <h4 style="color:white">Mars: Stats</h4>
          <p><i>How much would you weigh on Mars?</i></p>
          <p>Gravity on Mars is the lowest of any planet in the Solar System.</p>
          <div class="input-field inline">Enter your weight on Earth:
          <br>
          <br>
          <form>
          <input class="input" type="text" name="weight" placeholder="Weight" required >
          </div>
          <button class="waves-effect waves-light btn" onclick="weightOnMars(<%= planet.gravity %>)">SUBMIT</button>
          </form>
          <p id="marsAnswer">&nbsp;</p>
        </div>
      <div class="parallax"><img src="http://imgsrc.hubblesite.org/hu/db/images/hs-2005-34-j-full_jpg.jpg" alt="Mars img 2" style="width:100%"></div>
    </div>


    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6">
            <p class="flow-text left-align light">
              Mars orbits 228 million kilometers from the Sun.
              <br>
              At our Manhattan scale, Mars is 753.48 meters away from The Sphere.
              <br>
              In our journey across Manhattan, this puts us on Broadway near Cedar Street and Zuccotti Park.
              <br>
              Mars would be about 2.3cm in size at this scale.
              <br>
          </div>
          <div class="col s12 m6 materialboxed" data-caption="Relative orbit of Mars from The Sphere">
              <img src="/images/Mars_orbit.png" alt="Raduis of Mars's orbit at scale" style="width:100%">
          </div>
        </div>
      </div>
    </div>

    <div style="position:relative;height:400px;width:80%;margin:0 auto">

      <iframe width="100%" height="400"
        src="https://www.google.com/maps/embed/v1/streetview?key=<%= process.env.GOOGLE_KEY %>&location=40.7087813,-74.0108063&heading=45&pitch=5&fov=100">
      </iframe>

      <div style="width:900px;height:400px;z-index:2;position:absolute;top:0px">
        <a-scene embedded style="left:250;height:300;width:400">
          <a-sphere position="0 1.2 -1" radius=".008" color="#e58c5d"></a-sphere>
        </a-scene>
      </div>

    </div>

    <div class="container section no-pad-bot">
      <p style="text-align:center">Mars is the red planet, 2.3cm in size, above Broadway near Zuccotti Park. (Use arrow keys / mouse to pan / zoom)</p>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <p class="flow-text light">Now, we leave the terrestrial planets.<br>Ahead are the gas giants.
            </p>
            <div class="row center">
              <a href="/jupiter" class="btn-large waves-effect waves-light teal lighten-1">Next: JUPITER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Sources</h5>
            <p class="grey-text text-lighten-4">"A New Yorker's Guide to the Solar System" was conceived as a showcase for web technologies explored under the Web Development Immersive at General Assembly NYC in February 2017. Several of these are linked here.</p>
            <p class="grey-text text-lighten-4">All images from NASA's Jet Propulsion Laboratory and Google fair use searches.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>Developed by <a class="brown-text text-lighten-3" href="https://github.com/franklinbrooks">Franklin Brooks</a>. Created with
            <span class="heart">♥
            </span> at
            <span><a  class="brown-text text-lighten-3" href="http://www.generalassemb.ly">GA</a>
            </span>
          </p>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://www.materializecss.com/bin/materialize.js"></script>
    <script src="http://www.materializecss.com/js/init.js"></script>
    <script src="https://darkskyapp.github.io/skycons/skycons.js"></script>
  </body>
</html>
